.article-item {
  &__wrapper {
    width: 938px;
    height: 140px;
    font-family: 'Inter-UI', serif;
    border-radius: 5px;
    background: #ffffff;

    box-shadow: 0px 4px 12px 0px #00000026;
    padding: 15px 16px 24px 16px;
    margin-bottom: 26px;
  }
  &__header {
    height: 67px;
    display: flex;
    flex-wrap: wrap;
  }

  &__title-tags-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    //styleName: H5 - Header 5;
    //font-family: 'Inter-UI', serif;
    & a {
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
      color: #1890ff;
      text-decoration: none;
    }
    margin-bottom: 4px;
    //width: 50%;
  }

  &__likes {
    display: inline-block;
    width: 34px;
    height: 22px;
    margin-left: 5px;

    //&::before {
    //  display: inline-block;
    //  content: url('../assets/images/heart.svg');
    //  transform: translateY(2px);
    //  margin-right: 5px;
    //}
  }
  &__like-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    content: url('../assets/images/heart.svg');
    margin-left: 13px;
    transform: translate(0px, 2px);
  }
  &__like-icon--clicked {
    content: url('../assets/images/likedHeart.svg');
    fill: #ff0000;
  }
  &__tags {
    display: flex;
    & > li {
      list-style: none;
      margin-left: 0;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      padding: 0 5px;
      //vertical-align: center;
      //width: 38px;
      height: 20px;
      border-radius: 2px;
      margin-right: 8px;
      //border: 1px 0px 0px 0px;

      border: 1px solid #00000080;
    }
  }

  &__profile {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    height: 70px;
    flex-wrap: wrap;
  }

  &__name {
    //styleName: H6 - Header 6;

    font-size: 18px;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  &__date {
    font-size: 12px;
    line-height: 22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #00000080;
  }

  &__photo {
    width: 46px;
    height: 46px;
    margin-left: 12px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    & > img {
      width: 100%;
      height: auto;
      margin: auto;
      //object-fit: cover;
    }
  }

  &__description {
  }
}
