.App {
  &__wrapper {
    min-height: 100vh;
    background: #ebeef3;
    font-family: 'Inter-UI', serif;

    font-size: 18px;
    line-height: 28px;
    text-align: left;
  }
  &__header {
    height: 80px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
  }
  &__button-wrapper {
    margin-right: 22px;
    display: flex;
    align-items: center;
  }
  &__sign-in {
    width: 109px;
    height: 51px;
    border: none;
    background-color: transparent;
    margin-right: 19px;
  }
  &__sign-up {
    width: 109px;
    height: 51px;
    border-radius: 5px;
    border: 1px solid #52c41a;
    color: #52c41a;
    background-color: transparent;
  }
  &__log-out {
    width: 109px;
    height: 51px;
    border-radius: 5px;
    border: 1px solid #000000bf;
    color: #000000bf;

    background-color: transparent;
  }
  &__name {
    height: 56px;
    padding: 1em 0 1em 0;

    & > span {
      display: block;
      margin: 9px 0 0 22px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__create-article {
    border-radius: 5px;
    border: 1px solid #52c41a;
    width: 112.23px;
    height: 31.1px;
    font-size: 14px;
    color: #52c41a;
    background-color: transparent;
    margin-right: 27px;
  }
}
.profile {
  height: 46px;
  display: flex;
  &__name {
    margin-right: 13px;
    &:hover {
      cursor: pointer;
    }
  }
  &__avatar {
    width: 46px;
    height: 46px;
    margin-right: 27px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;

    & > img {
      width: 100%;
      height: auto;
      margin: auto;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
