@font-face {
  font-family: 'Inter-UI';
  src:
    local('Inter-UI'),
    url('assets/fonts/inter-ui-cufonfonts/Inter-UI-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Roboto-semi-bold';
  src:
    local('Roboto'),
    url('assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-regular';
  src:
    local('Roboto'),
    url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
$screen-xs: 320px;
$screen-sm: 576px;
$screen-md: 768px;

@mixin unbuttonize {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none; // Just in case we missed anything.
}
